meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='keywords' content='Directory, KEEP, tBTC')
meta(name='robots' content='index, follow')
meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
meta(name='language' content='English')
meta(name='author' content='meh#9634')
link(rel="stylesheet", href=`/style.css?r=${Math.random()}`)
link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,300&display=swap")
link(rel="icon" type="image/ico" href="/favicon.ico")
