h3 Here's how to submit tanslation for Play for KEEP!
p I highly recomend to translate article from 
  a(href="https://tbtc.network/news") tBTC News
  |  and 
  a(href="https://blog.keep.network") KEEP Blog
  |  first, since it barely 
  
  
p First you need :
  ul
    li Basic knowledge about KEEP and tBTC project.
    li 
