* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

li.main-column {
  margin: 15px 0;
}

.root {
  display: flex;
  flex-direction: column;
  margin: 2vh auto;
  width: 70%;
}
h4 {
  font-family: 'Oswald', sans-serif;
  color: rgb(19, 19, 19);
  letter-spacing: 2px;
  font-size: 23px;
}
ul,
#myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
}

.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  transition: all 0.5s;
  border-bottom: 1px solid rgb(116, 116, 116);
}

.caret::before {
  color: black;
  display: inline-block;
  margin-right: 6px;
  transition: all 0.5s;
}

.caret-down {
  background-color: rgb(212, 212, 212);
  border: none;
}
.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */
  transform: rotate(90deg);
  transition: all 0.1s;
}

.nested {
  display: none;
  transition: all 0.5s;
  opacity: 1;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.5s;
}

.active {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.3s;
  display: block;
  transition: all 0.5s;
}
li.category {
  margin-top: 3px;
}
span.caret.main {
  background-color: rgb(63, 63, 63);
  color: white;
  border-radius: 9px;
  height: 55px;
  padding: 4px 13px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
}
span.caret.main a {
  color: white;
  text-decoration: none;
}
span.submain {
  font-size: 8px;
}

.done {
  background-color: green;
}
.notdone {
  background-color: red;
}

.root-folder {
  margin: auto 0;
}

.stat {
  margin: 0 3px;
  display: flex;
  font-size: 12px;
}

.translate {
  padding: 2px;
  margin: auto 5px;
  padding: 3px 5px;
  border-radius: 5px;
  text-align: center;
  min-width: 20px;
  color: white;
}

.nodisplay {
  display: none;
}
.caret.category {
  display: flex;
  border-radius: 8px;
  padding: 12px;
}

.caret.url {
  font-size: 14px;
  border-radius: 5px;
  margin: 3px;
  padding: 12px;
}

.caret.url a {
  color: white;
  text-decoration: none;
}
.link {
  margin: 5px;
  border-radius: 7px;
  padding: 15px;
  background-color: rgb(180, 255, 199);
}

.link p {
  margin-bottom: 10px;
}
.header {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(133, 133, 133);
}
.header h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: flex-start;
}

.profile span {
  font-size: 10px;
  text-decoration: none;
  margin: 0 5px;
}
.profile img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.profile span,
img {
  display: inline-block;
  vertical-align: middle;
}

.root {
  min-height: 91vh;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 7vh;
  max-height: 5vh;
  background-color: rgb(49, 49, 49);
  color: white;
  padding: 1px auto;
  font-size: 15px;
  padding-top: 3px;

}

.footer .content {
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer .content a {
  color: white;
  text-decoration: none;
}
.title h2 {
  margin-bottom: -12px;
}

.title {
  margin-left: 5px;
}

select {
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 2px;
  -moz-padding-start: 2px;
  background-color: #fff1f1; /* Fallback color if gradients are not supported */
  background-image: url(../images/select-arrow.png),
    -webkit-linear-gradient(top, #e5e5e5, #f4f4f4); /* For Chrome and Safari */
  background-image: url(../images/select-arrow.png),
    -moz-linear-gradient(top, #e5e5e5, #f4f4f4); /* For old Firefox (3.6 to 15) */
  background-image: url(../images/select-arrow.png),
    -ms-linear-gradient(top, #e5e5e5, #f4f4f4); /* For pre-releases of Internet Explorer  10*/
  background-image: url(../images/select-arrow.png),
    -o-linear-gradient(top, #e5e5e5, #f4f4f4); /* For old Opera (11.1 to 12.0) */
  background-image: url(../images/select-arrow.png),
    linear-gradient(to bottom, #e5e5e5, #f4f4f4); /* Standard syntax; must be last */
  background-position: center right;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: #555;
  font-size: inherit;
  margin: 0;
  overflow: hidden;
  padding-top: 2px;
  padding-bottom: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.head .title {
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}
.select {
  margin-left: 5px;
}

.content img {
  margin: 5px;
}

.root {
  min-height: 92vh;
}

.footer {
  text-align: center;
  background-color: rgb(63, 63, 63);
  height: 10vh;
  bottom: 0;
  font-size: 10px;
}

.footer .content {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  width: 30%;
}


.footer a {
  text-decoration: none;
  color: grey;
}
@media screen and (max-width: 1024px) {
  .root {
    width: 80%;
  }
  .footer .content {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .root {
    width: 85%;
  }
  .footer .content {
    width: 70%;
  }
}

@media screen and (max-width: 480px) {
  .root {
    width: 90%;
  }
  .footer .content {
    width: 90%;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
