.user-picture img{
  border-radius: 50%;
  max-width: 140px;
}
.user-info {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}
.main-info table {
  width: 100%;
  margin-left: 5%;
  border-collapse: collapse;
}

td {
  padding: 0 15px;
  vertical-align: top;
  text-align: left;
  text-align: left;
}
.articles {
  display: flex;
  flex-wrap: wrap;
}
.container {
  width: 30%;
  border: 1px solid black;
  margin: 1.5%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.folder {
  font-size: 12px;
  padding: 5px 8px;
  background-color: black;
  color: white;
}
span.title {
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.title-box {
  border-bottom: 1px solid black;
  width: 90%;
  margin: 5%;
  margin-top: 0;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
}
span.translatefrom {
  font-size: 10px;
}
span.translatefrom a {
  margin-left: 2px;
  text-decoration: none;
}
.time {
  margin-top: 5%;
  padding: 1% 5%;
  bottom: 0;
  width: 100%;
  background-color: grey;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
}
.time a {
  text-decoration: none;
  color: white;
}
.container p {
  margin: 0 5%;
}

.folder a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.user-list-main-ul {
  display: flex;
  flex-direction: column;
}

li.user-list-container {
  margin: 5px 0;
  padding: 7px 10px;
  background-color: black;
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



li.user-list-container a{
  color: white;
  text-decoration: none;
}
li.user-list-container a:hover{
  text-decoration: underline;
}

.user-list-info {
  display: flex;
  flex-direction: row;
}
.profile-info p {
  font-size: 10px;
}
.lang-box  {
  display: flex;
  float: left;
}
.lang {
  font-size: 10px;
  margin: 2px;
  padding: 1.5px 4px;
  background-color: rgb(73, 73, 73);
  color: rgb(255, 255, 255);
  min-width: 20px;
  border-radius: 20%;
  text-align: center;
}
.profile-pictures img {
  width: 50px;
  border-radius:50%;
  border: 3px solid #48dbb4;
}
.discriminator {
  color: rgb(94, 94, 94);
}
.profile-info {
  margin-left: 10px;
}
.user-list-stat {
  min-width: 90px;
  font-size: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-list-stat.left-box p, h1 {
  text-align: center;
}

li.user-list-container:hover {
  background-color: #48dbb4;
  color: black;
}
li.user-list-container:hover a {
  color: black;
}
li.user-list-container:hover  .lang {
  background-color: #48dbb4;
  border: 1px solid black;
  color: black;
}
.filter-box {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  padding-right: 20px;
}
.filter-box label{
  margin-right: 20px;
}


@media screen and (max-width: 1024px) {
  .container {
    width: 30%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 47%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}
